<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank of group 13</title>
    <div id="header" style="width:900px">
        <h1>Login successfully</h1>
    </div>
    <div id="transfer" style="width:300px">
        Transfer
        <form>
            username: <input id="username" type="text" name="username" required autofocus/> <br>
            amount: <input id="amount" type="text" name="amount" required autofocus/><br>
        </form>
        <button onclick="popup()">confirm</button>
        <script type="text/javascript">
            function popup(){
                alert("点击[确定]以继续操作");
            }
        </script>
    </div>
    <div id="deposit" style="width:300px">
        Deposit
        <form th:action="@{/deposit}" method="post">
            amount: <input id="transfer amount" type="text" name="amount" required autofocus/><br>
        </form>
        <button>confirm</button>
    </div>
    <div id="withdraw" style="width:300px">
        Withdraw
        <form>
            amount: <input id="withdraw amount" type="text" name="amount" required autofocus/><br>
        </form>
        <button>confirm</button>
    </div>
</head>
<body>

</body>
</html>