<!DOCTYPE html>
<html>
<body>

<h1 style="background-color: yellow;">Transfer Money</h1>
<p>Please input the account number, account name and amount.</p>
<h3>Account number</h3>
<input/>
<h3>Amount</h3>
<input/>
<form th:action="@{/transfer}" method="post">
    Username:
    <input id="username" type="text" name="username" required autofocus/><br>
    Amount:
    <input id="amount" type="text" name="amount" required autofocus/><br>
    <button type="submit" class="btn btn-primary btn-block">
        Login
    </button>
</form>
</body>
</html>